---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<hr />

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>
        {% else %}
        <div class="col-md-8 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>

        <div class="col-md-4">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>

</article>

<hr />		
<div id="comments" class="comments-area">
<div id="respond" class="comment-respond">
<div class="fb-social-plugin comment-form fb-comments" id="commentform" data-href="{{ site.url }}{{ page.url }}" data-width="625" data-order-by="time"></div>
</div>
</div>
